
	  <!-- <td><a href='#opps/<%- model.id %>'><%- model.id %></a></td> -->
    <td><%- model.SA %></td>
	  <td><%- model.oppID %></td>
  	<td><%- model.AM %></td>
  	<td><%- model.clientName %></td>	
  	<td><%- model.descrip %></td>	
  	<td><%- model.assignedDate %></td>	
  	<!-- <td><%- model.requestType %></td>	 -->
  	<!-- <td><%- model.assignedStatus %></td>	 -->
  	<td><%- model.reqGathered %></td>	
  	<td><%- model.diagramComplete %></td>	
  	<td><%- model.toComplete %></td>	
  	<td><%- model.submittedDate %></td>	
  	<!-- <td><%- model.iterations %></td>	 -->
  	<td><%- model.comments %></td>	
  	<!-- <td><%- model.currenthours %></td>	 -->
  		
  	<td><%- model.consultingOnly %></td>	
  	<!-- <td><%- model.value %></td>	 -->
  	<!-- <td><%- model.solComplex %></td>	 -->
  	<!-- <td><%- model.priority %></td> -->
  	<!-- <td><%- model.predictedHours %></td>	 -->
  	<!-- <td><%- model.dueDate %></td>	 -->
  	<td><%- model.RFPQI %></td>	
  	<!-- <td><%- model.marketSeg %></td>	 -->
  	<!-- <td><%- model.region %></td>	 -->
  	<!-- <td><%- model.deadOpp %></td>	 -->
  	<!-- <td><%- model.duration %></td>	 -->
  	<td><%- model.czLink %></td>