
<form class="form-horizontal" role="form">
    <div class="row">
        <div class="col-md-10">
            <legend>Opportunity Details</legend>
                <br/>
            <div class="row">

                <!-- Left hand col -->
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="oppID" class="col-sm-5 control-label">oppID</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="oppID" name="oppID"  value="<%- model.oppID %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="AM" class="col-sm-5 control-label">AM</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="AM" name="AM" value="<%- model.AM %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="assignedDate" class="col-sm-5 control-label">assignedDate</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="assignedDate" name="assignedDate" value="<%- model.assignedDate %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="requestType" class="col-sm-5 control-label">requestType</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="requestType" name="requestType" value="<%- model.requestType %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="assignedStatus" class="col-sm-5 control-label">assignedStatus</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="assignedStatus" name="assignedStatus" value="<%- model.assignedStatus %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="reqGathered" class="col-sm-5 control-label">reqGathered</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="reqGathered" name="reqGathered" value="<%- model.reqGathered %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="diagramComplete" class="col-sm-5 control-label">diagramComplete</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="diagramComplete" name="diagramComplete" value="<%- model.diagramComplete %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="toComplete" class="col-sm-5 control-label">toComplete</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="toComplete" name="toComplete" value="<%- model.toComplete %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="submittedDate" class="col-sm-5 control-label">submittedDate</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="submittedDate" name="submittedDate" value="<%- model.submittedDate %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="iterations" class="col-sm-5 control-label">iterations</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="iterations" name="iterations" value="<%- model.iterations %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="comments" class="col-sm-5 control-label">comments</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="comments" name="comments" value="<%- model.comments %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="currenthours" class="col-sm-5 control-label">currenthours</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="currenthours" name="currenthours" value="<%- model.currenthours %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="descrip" class="col-sm-5 control-label">descrip</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="descrip" name="descrip" value="<%- model.descrip %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="czLink" class="col-sm-5 control-label">czLink</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="czLink" name="czLink"  value="<%- model.czLink %>">
                        </div>
                    </div>


                </div>

                <!-- Right hand col -->
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="SA" class="col-sm-5 control-label">SA</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="SA" name="SA" value="<%- model.SA %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="clientName" class="col-sm-5 control-label">clientName</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="clientName" name="clientName" value="<%- model.clientName %>">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="consultingOnly" class="col-sm-5 control-label">consultingOnly</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="consultingOnly" name="consultingOnly" value="<%- model.consultingOnly %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="value" class="col-sm-5 control-label">value</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="value" name="value" value="<%- model.value %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="solComplex" class="col-sm-5 control-label">solComplex</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="solComplex" name="solComplex"  value="<%- model.solComplex %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="priority" class="col-sm-5 control-label">priority</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="priority" name="priority"  value="<%- model.priority %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="predictedHours" class="col-sm-5 control-label">predictedHours</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="predictedHours" name="predictedHours" value="<%- model.predictedHours %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="dueDate" class="col-sm-5 control-label">dueDate</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="dueDate" name="dueDate" value="<%- model.dueDate %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="RFPQI" class="col-sm-5 control-label">RFPQI</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="RFPQI" name="RFPQI" value="<%- model.RFPQI %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="marketSeg" class="col-sm-5 control-label">marketSeg</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="marketSeg" name="marketSeg"value="<%- model.marketSeg %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="region" class="col-sm-5 control-label">region</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="region" name="region" value="<%- model.region %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="deadOpp" class="col-sm-5 control-label">deadOpp</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="deadOpp" name="deadOpp" value="<%- model.deadOpp %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="duration" class="col-sm-5 control-label">duration</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="duration" name="duration" value="<%- model.duration %>">
                        </div>
                    </div>

                </div>

                <!-- Across the bottom -->




            </div>
        </div>
    </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" value='submit' class="btn btn-default save">Save</button>
      <button type="submit" class="btn btn-default delete">Delete</button>
    </div>
  </div>
</form>





<div class="row status-bar">
    <div class="span12">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Opportunity saved successfully
        </div>
    </div>
</div>