<form class="form-horizontal" role="form">
		<h2>Create an account</h2>

	
			
		  <div class="form-group">
		    <div class="col-sm-4" center-block>
				<input type="text" class="form-control" placeholder="your name" id="name">
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-4" center-block>
		      <input type="text" class="form-control" id="email" placeholder="email">
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-4" center-block>
		      <input type="password" class="form-control" id="password" placeholder="password">
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-4" center-block>
		      <input type="password" class="form-control" id="confirmation" placeholder="password confirmation">
		    </div>
		  </div>

		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
	
		      <button type="submit" class="btn btn-default signup">Create Account</button>
		    </div>
		  </div>
</form>