
<div class="col-sm-12 center-block">

	<!-- <img src="assets/linker/images/IS-LOGO-RGB-02.png" class="img-rounded center"> -->
	<h1 class="text-center">internet solutions</h1>

	<h1 class="text-center">architects</h1>
		<form class="form-horizontal" role="form">
			
		  <div class="form-group">
		    <!-- <label for="email" class="col-sm-3 control-label">email</label> -->
		    <div class="col-sm-4" center-block>
		      <input type="texxt" class="form-control" id="email" name="email" placeholder="Email">
		    </div>
		  </div>
		  <div class="form-group">
		    <!-- <label for="inputPassword3" class="col-sm-3 control-label">Password</label> -->
		    <div class="col-sm-4" center-block>
		      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
		    </div>
		  </div>
		  <!-- <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-4">
		      <div class="checkbox">
		        <label>
		          <input type="checkbox"> Remember me
		        </label>
		      </div>
		    </div>
		  </div> -->
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-default login">Login</button>	
		     
		    </div>
		  </div>
		</form>
		 <button class="btn btn-default signup">Sign up</button>
</div>
